body, html{
    margin:auto;
    padding:10px;
    color:rgb(0, 0, 0);
    background:#ffffff;
}  

#wrap{
        width: 100%;
        margin: auto;
        background:#99c;
}

#header{
    background: #dddddd;
}
#nav{
    background:#c99;
}
#ul{
list-style-type:none;
margin: 0;
padding: 0;
width: 60px;
background-color: #f1f1f1;
}   


#li a{
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}
#li a.active {
    background-color: #4CAF50;
    color: white;
}
/*link changes colour on hovor */
li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }



#main{
    background: #99cc99;
    float: left;
    width: 375px;
    height:400px;
    background:#9c9;
    margin:10px;
    border:0px;
    padding:10px;
}
#sidebar{
    background: #cc99cc;
    float: left;
    width: 375px;
    height:400px;
    background:#c9c;
    margin:10px;
    border:0px;
    padding:10px;
   
}
#sidebar2{
    background: seagreen;
    float: left;
    width: 375px;
    height:400px;
    background: seashell;
    margin:10px;
    border:0px;
    padding:10px;
}

#footer{
    background: #cccc99;
    clear:both;
    margin:auto;
    border:auto;
}

